@font-face {
  font-family: Gentona Book;
  src: url(../fonts/Gentona-Book.otf);
  font-weight: normal;
}
@font-face {
  font-family: Gentona Book;
  src: url(../fonts/Gentona-Book-Bold.otf);
  font-weight: 600;
}
body{
     font-family: Gentona Book;
     font-size: 16px;
     color: #333;
     font-weight: normal;
}
a:hover, a:focus{
    text-decoration: none;
}
label{
    font-weight: normal;
}
h1{
    font-size: 31px;
}
h2{
    font-size: 27px;
}
.container{
    min-width: 1280px;
}
.btn-primary{
    background: #007bff;
    border: 1px solid #007bff;
    color: #fff !important;
    padding: 7px 17px;
    font-size: 16px;
    border-radius: 2px;
    box-shadow: none;
}
.btn-primary:hover{
    background: #000;
    border: 1px solid #000;
    color: #fff;
}
.btn-default{
    background: #000;
    border: 1px solid #000;
    color: #fff !important;
    padding: 7px 17px;
    font-size: 16px;
    border-radius: 2px;
    box-shadow: none;
}
.btn-default:hover{
    background: #222;
    border: 1px solid #222;
    color: #fff;
}
.btn-warning{
    color: #fff;
    background-color: #eb4a36;
    border-color: #eb4a36;
    padding: 10px 60px;
    font-size: 17px;
    border-radius: 100px;
    box-shadow: none;
}
.btn-warning:hover {
    color: #fff;
    background-color: #ea5036;
    border-color: #ea5036;
}
.topbar{
    background: #000;
    padding: 3px 0;
    text-align: center;
}
.topbar ul{
    margin-bottom: 0;
}
.topbar ul li, .topbar ul li a{
    color: #fff;
}
.topbar ul li i{
    color: #e7fbff;
}
header{
    border-bottom: 1px solid #eee;
}
.logo{
    padding-top: 15px;
}
.menu{
    float: right;
}
.menu li{
    font-size: 18px;
    padding-left: 18px;
    padding-right: 18px;
    padding-top: 20px;
}
.menu li a{
    color: #333;
}
.calltoAction{
    position: relative;
    top: -4px;
}
.banner{
    background: url(..//image/travel-banner.jpg);
    background-size: cover;
    background-position: center;
}
.nav-tabs{
    border-bottom: none;
    justify-content: center;
    display: flex;
}
.nav-tabs>li>a{
    border: none;
    border-radius: 0;
    padding: 4px 15px;
    color: #333;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
    border: none;
    color: #fff;
    background: #1579f6;
}
.nav>li>a:focus, .nav>li>a:hover{
    background: #f4f4f4;
}
.bookForm{
    background: #f4f4f4;
    padding: 15px 10px;
    margin: 40px 0 30px;
}
.bookForm span.type{
    text-align: center;
    display: block;
    font-size: 24px;
    margin-bottom: 15px;
}
.bookForm hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border-top: 1px solid #ccc;
    max-width: 80%;
    border-radius: 0;
}
.bookForm .greybg{
    background: #ddd;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    padding-top: 2px;
    margin-bottom: 15px;
}
.bookForm .greybg label{
    color: #898989;
    text-transform: uppercase;
    font-size: 13px;
    min-width: 50px;
}
.bookForm .greybg input, .bookForm .greybg select{
    margin-left: 5px;
    background: #ddd;
    border: none;
    box-shadow: none;
    font-size: 16px;
}
.bookForm .greybg input::placeholder, .bookForm .greybg select::placeholder{
    color: #333;
    font-size: 16px;
}
.bookForm .greybg input:focus, .bookForm .greybg select:focus{
    box-shadow: none;
    outline: none;
}
.bookForm .greybg select{
    padding: 6px 0 0 8px;
    min-width: 84%;
    font-size: 16px;
}
.fullwidth{
    width: 100%;
}
.banner h1{
    color: #fff;
    text-align: center;
}
.banner .bestDeals{
    text-align: center;
    color: #fff;
    font-size: 20px;
}
.mb-8{
    margin-bottom: 8px !important;
}
.returnArrival label{
    margin-bottom: 3px !important;
    text-transform: uppercase;
    color: #777;
}
#round label, #sight label{
    min-width: 81px !important;
}
.locationPanel, .destinationPanel{
    min-height: 200px;
    display: none;
}
.locationPanel .panelHeader, .destinationPanel .panelHeader{
    margin: 15px 0;
}
.locationPanel .goBack, .destinationPanel .goBack{
    display: inline;
    background: #f4f4f4;
    color: #333;
    border: none;
}
.locationPanel h5, .destinationPanel h5{
    display: inline;
    padding-left: 20px;
    font-size: 18px;
    color: #000;
}
.locationPanel .input-group, .destinationPanel .input-group{
    margin-bottom: 15px;
}
.locationPanel .input-group, .destinationPanel .input-group {
    background: #fff;
}
.locationPanel .input-group-btn, .destinationPanel .input-group-btn{
    width: 43px !important;
}
.locationPanel .input-group-btn button, .destinationPanel .input-group-btn button{
    font-size: 18px;
    color: #444;
} 
.locationPanel input, .destinationPanel input{
    border: none;
    box-shadow: none;
    font-weight: normal;
}
.locationPanel input:focus, .destinationPanel input:focus{
    box-shadow: none;
    outline: none;
    color: #333;
}
.locationPanel input::placeholder, .destinationPanel input::placeholder{
    color: #333;
    font-weight: normal;
}
.canalList{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 20px;
    padding-bottom: 25px;
}
.canalList .icons{
    padding-top: 10px;
}
.canalList h5{
    font-size: 20px;
    margin-bottom: 5px;
}
.benefits h2{
    margin-top: 40px;
    margin-bottom: 20px;
}
.img_wrapper {
    background: rgba(0, 0, 0, 0.7);
    margin: 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}
.price_grid {
    top: 0px;
    right: 0;
    padding: 7px 7px 7px;
    background-color: #ed3833;
    z-index: 2;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    line-height: 1;
    display: inline-block;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-bottomleft: 3px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}
.price_grid sup {
    position: relative;
    top: 0px;
    font-size: 15px;
}
.img_container {
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    z-index: 0;
}
.img_container a {
    color: #d63035;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    outline: 0;
}
.img_container img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -moz-transition: .4s;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    opacity: .8;
    -webkit-backface-visibility: hidden;
    width: 100%;
}
.short_info {
    left: 0;
    bottom: 0;
    background: url(../image/shadow_tour.png) left bottom repeat-x;
    width: 100%;
    padding: 25px 15px 15px 20px;
    color: #fff;
    font-size: 13px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
}
.price_grid, .score, .score_wp, .short_info {
    position: absolute;
}
.short_info h3 {
    font-family: Satisfy;
    font-size: 40px;
    color: #fff;
    margin: 0;
    text-shadow: 0in 0.75pt 0in rgba(0, 0, 0, .59);
    padding: 0;
    margin-bottom: 5px;
    text-align: center;
}
.short_info em {
    font-style: normal;
    text-shadow: 0in 0.75pt 0in rgba(0, 0, 0, .59);
}
.short_info p {
    opacity: 0;
    display: none;
    padding-top: 10px;
    line-height: 1.4;
    font-weight: 400;
}
.img_container a:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .4;
}
.img_container a:hover .short_info {
    padding-bottom: 5%;
}
.img_container a:hover .short_info p {
    display: block;
    opacity: 1;
}
.allneeds h2{
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 37px;
}
.carsCollection{
    margin-bottom: 40px;
}
.carsCollection h3{
    margin-bottom: 5px;
    margin-top: 40px;
    font-size: 27px;
}
.carbox{
    text-align: center;
    border: 1px solid #ddd;
    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
    padding-bottom: 15px;
}
.carbox h4{
    background: #ffd920;
    margin: 0;
    padding: 6px 0;
    color: #333;
    font-size: 21px;
    margin-bottom: 30px;
    font-weight: 600;
    text-transform: uppercase;
}
.carbox ul li{
    font-size: 16px;
    border-bottom: 1px solid #eee;
    line-height: 42px;
}
.carsCollection .nav-tabs{
    margin-top: 53px;
}
.carsCollection hr{
    margin-top: 15px;
    margin-bottom: 30px;
    border-top: 1px solid #ddd;
}
/********avi.css*********/

.carousel {
    margin-bottom: 0;
}
/* The controlsy */
.carousel-control {
    left: 15px;
    height: 55px;
    width: 55px;
    background: none repeat scroll 0 0 #222222;
    border: 4px solid #FFFFFF;
    border-radius: 50%;
    top: 45%;
}
.carousel-control span {
    margin-top: 14px;
}
.carousel-control.right {
    right: 15px;
}
/* The indicators */
.carousel-indicators {
    right: 50%;
    top: auto;
    bottom: -10px;
    margin-right: -19px;
}
/* The colour of the indicators */
.carousel-indicators li {
    background: #cecece;
}
.carousel-indicators .active {
background: #428bca;
}

#carousel-example-generic .carousel-indicators {
    display: none;
}
#carousel-example-generic .carousel-inner .item {
    background-image: linear-gradient(to top, #FDFDFD 0%, #E9E9E9 100%);
    width: 100%;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}
/*#carousel-example-generic2 .carousel-inner .item{
    background-image: linear-gradient(to top, #FDFDFD 0%, #E9E9E9 100%);
}*/

.carsCarousel .carousel-inner .item{
    background-image: linear-gradient(to top, #FDFDFD 0%, #E9E9E9 100%);
}
.travel-jet h4{
    font-weight: 600;
    font-size: 34px;
}
.travel-jet p {
    font-size: 17px;
    line-height: 32px;
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 65%;
}
.no-padding{
    padding: 0;
}
.packages .text-caption{
    position: absolute;
    margin-top: -100px;
    left: 0;
    right: 0;
}
.packages .text-caption span{
    font-family: Satisfy;
    font-size: 50px;
    display: block;
    color: #fff;
    text-align: center;
}
.howWorks h4{
    font-size: 27px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.howWorks .canalList h5{
    font-family: Heebo;
    color: #0c64d2;
    font-size: 18px;
    padding-top: 24px;
}
#carousel-example-generic6 .carousel-inner{
    max-width: 85%;
    margin:0 auto;
}
.adjust1 {
    width: 100%;
    height: auto;
    border: 2px solid #eee;
    display: inline-block;
    border-radius: 0;
    padding: 17px;
}
.Client-testimonial h5 {
    font-size: 32px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}
.customer-name{
    font-size: 22px;
}
#carousel-example-generic6 {
    margin-bottom: 50px;
    margin-top: 50px;
    height: 350px;
}
.caption p{
    text-align: justify;
    font-size: 14px;
}
.support p {
    text-align: center;
    font-size: 30px;
    max-width: 50%;
    margin: 0 auto;
}
.customer-support {
    width: 100%;
    height: auto;
    background: #FFFFFF;
    padding-top: 30px;
    letter-spacing: 0.3px;
    /*-webkit-box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);*/
    position: relative;
    z-index: 1;
    border-top: 1px solid #ececec;
}
.support {
    width: 100%;
    padding: 15px;
    background: #fff;
    border-radius: 4px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    border: 1px solid #eee;
}
.support p {
    text-align: center;
    font-size: 30px;
    max-width: 60%;
    margin: 0 auto;
}
.footer{
    background-color: #0b1b2f;
    width: 100%;
    height: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
.footer-title {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 17px;
}
.social-icon ul li {
  list-style: none;
}

.social-icon ul li a {
    width: 40px;
    height: 40px;
    background-color: #fff;
    text-align: center;
    line-height: 36px;
    font-size: 18px;
    margin: 0 5px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
}

.social-icon ul li a .icon {
  position: relative;
  color: #262626;
  transition: .5s;
  z-index: 3;
}

.social-icon ul li a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}

.social-icon ul li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}

.social-icon ul li a:hover:before {
  top: 0;
}

.social-icon ul li:nth-child(1) a:before{
  background: #3b5999;
}

.social-icon ul li:nth-child(2) a:before{
  background: #55acee;
}

.social-icon ul li:nth-child(3) a:before {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}
.footer-menu ul li {
    line-height: 30px;
}
.footer-menu ul li a {
    color: #fff;
    font-weight: 100;
}
.footer-bottom{
    width: 100%;
    border-top: 1px solid #505050;
    background-color: #0b1b2f;
    padding: 15px;
}
.footer-bottom p {
    text-align: center;
    margin-bottom: 0;
    color: #fff;
}
/*****booking-form**********/
.booking-banner {
    background: url(../image/booking-banner.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    padding-bottom: 40px;
    padding-top: 40px;
}
.booking-banner h1 {
    width: 60%;
    float: right;
    color: #fff;
    margin-top: 0;
}
#regiration_form {
    padding-top: 20px;
    padding-bottom: 20px;
}
.booking-form {
    border-radius: 6px;
    padding: 18px 20px;
    background-color: #f4f4f4;
    box-shadow: 0 1px 8px 0 rgba(0,0,0,0.12), 0 1px 4px 0 rgba(0,0,0,0.06);
    max-width: 80%;
    margin: 50px auto 50px;
}
.mapspace{
    padding-top: 400px;
    margin-top: 40px;
    margin-bottom: 20px;
}
.booking-form .bookbutton {
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}
/*.booking-form input {
    height: 40px;
    background-color: #fff;
}*/
.booking-form select {
    height: 40px;
    background-color: #fff;
}
#sandbox input {
    border-right: none;
}
#sandbox .input-group-addon {
    color: #000;
}
.btn-success{
    box-shadow: 0 2px 11px 0 rgba(0,0,0,0.3), 0 2px 6px 0 rgba(0,0,0,0.15);
    background: #5cb85c;
    border-color: #5cb85c;
    font-size: 18px;
    padding: 10px 28px;
}
.booking-form label{
    font-size: 16px;
}
.selectAddress{
    display: flex;
    margin-bottom: 20px;
}
.selectize-control{
    min-width: 40%;
}
.selectize-input{
    padding: 8.5px 12px;
    border-radius: 0;
    font-size: 16px;
}
.selectAddress .startpoint{
    width: 60%;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0;
    height: 39px;
    font-size: 16px;
}
/************booking.css*********/
.booking-detail{
    background: #f4f4f4cc;
    padding: 15px 10px;
}    
.booking-detail span.type {
    text-align: center;
    display: block;
    font-size: 24px;
    margin-bottom: 15px;
}
#regiration_form fieldset:not(:first-of-type) {
    display: none;
}
.book-cabs-trip span {
    font-size: 36px;
    margin-top: 0;
    padding-bottom: 25px;
    display: block;
    font-weight: 500;
    text-align: center;
}
.progress {
    height: 12px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #ffffff;
    border-radius: 100px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #007bff00;
    text-align: center;
    background-color: #007bff;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
.btn-secondary {
    box-shadow: 0 2px 11px 0 rgba(0,0,0,0.3), 0 2px 6px 0 rgba(0,0,0,0.15);
    background: #000;
    border-color: #000;
    font-size: 18px;
    padding: 10px 28px;
    margin-right: 15px;
    color: #fff;
}
.btn-secondary:hover {
    color: #fff;
    background-color: #000;
    border-color: #000;
}
#regiration_form fieldset .field-title {
    font-size: 32px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-family: Gentona Book;
    font-weight: 600;
}
.book-locationPanel .panelHeader {
    margin-bottom: 10px;
}
.book-locationPanel h5, .book-destinationPanel h5 {
    display: inline;
    font-size: 18px;
    color: #000;
}
.addstop-title {
    margin-bottom: 15px;
}
.custom-radio {
    margin-bottom: 0;
}
.custom-radio label {
    width: 100%;
}
.custom-radio label input{
  visibility: hidden; 
  position: absolute; 
}
.custom-radio label > input + span{
    cursor: pointer;
    background: #fff;
    color: #333;
    padding: 4px;
    border-radius: 4px;
    padding: 7px 15px;
    border: 2px solid #007bff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: .2px;
    display: table;
    width: 100%;
}
.custom-radio label > input:checked + span{ 
  background-color: #007bff;
    color: #fff;
}
.book-destinationPanel {
    margin-top: 15px;
}
.book-destinationPanel .panelHeader {
    margin-bottom: 10px;
}
.book-timing input {
    height: 50px;
    font-size: 13px;
}
.booking-title input {
    background: #fff;
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    padding-top: 2px;
    margin-bottom: 15px;
    font-size: 18px;
    color: #000;
}
.numberof-person .pagination {
    margin-top: 10px;
    margin-bottom: 10px;
}
.numberof-person .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 4px;
    padding: 8px 15px;
    margin-top: -2px;
}
.numberof-person .pagination>li>a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #000;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}
.typeof-vehical {
    margin-bottom: 40px;
    display: table;
}
.typeof-vehical .custom-radio label input {
    visibility: inherit;
    position: absolute;
    top: 10px;
}
.seater .radio label {
    padding-left: 0px;
    font-size: 14px;
}
.seater {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.seater .first-radio {
    margin-top: -5px;
}
.seater .custom-radio {
    margin-top: 0;
    text-align: center;
}
.contact-detail .col-sm-9 {
    padding-left: 0;
    padding-right: 0;
}
.contact-detail input {
    height: 40px;
    font-size: 18px;
    color: #000;
}
.custom-radio label {
    padding-left: 0;
}
.contact-detail p {
    margin-bottom: 0;
}
.any-message textarea{
    font-size: 18px;
}
.kilometrediv p {
    font-size: 20px;
}
/***********switch-toggle*****/
.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 20px;
  top: 3px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
 position: absolute;
 content: "";
 height: 12px;
 width: 12px;
 left: 3px;
 bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch input:checked + .slider {
  background-color: #2196F3;
}

.switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.signIn{
    text-align: center;
    padding: 50px 0;
}
.signIn h1{
    font-size: 30px;
}
.signIn h3{
    font-size: 21px;
    margin-bottom: 25px;
    margin-top: 10px;
}
.signIn ul{
    margin-bottom: 30px;
    margin-top: 30px;
}
.social-icons li{
    padding: 0 4px;
}
.social-icons li .fb-icon{
    background: #3b5998;
    color: #fff;
    padding: 10px 15px;
    border-radius: 100px;
}
.social-icons li .tw-icon{
    background: #00acee;
    padding: 10px 12px;
    border-radius: 100px;
    color: #fff;
}
.social-icons li .go-icon{
    background: #CC3333;
    padding: 10px 12px;
    border-radius: 100px;
    color: #fff;
}
.social-icons li .insta-icon{
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    padding: 10px 12px;
    border-radius: 100px;
    color: #fff;
}
.social-icons li i{
    font-size: 21px;
}
.signIn span{
    font-size: 18px;
    margin: 15px 0;
    display: block;
}
.signIn .signIn_form label{
    font-size: 17px;
}
.signIn .signIn_form input{
    border-radius: 100px;
    padding: 24px 17px;
    border: 2px solid #ddd;
    box-shadow: none;
    font-family: Heebo;
    max-width: 65%;
    margin: 0 auto;
    text-align: center;
}
.signIn .forgot{
    margin: 25px 0;
}
.signIn .forgot a{
    color: #333;
}
.signIn .form-group{
    margin-bottom: 25px;
}
.formBanner{
    background: url('../image/signin.jpg');
    background-size: cover;
    background-position: center;
}
.create-account .formBanner{
    background: url('../image/registerbanner.jpg');
    background-size: cover;
    background-position: center; 
}
.bannerText{
    background: rgba(0,0,0,0.1);
    padding-top: 180px;
    color: #fff;
    text-align: center;
    min-height: 555px;
}
.create-account .bannerText{
    background: rgba(0,0,0,0.4);
}
.bannerText h2{
    font-size: 32px;
}
.bannerText p{
    font-size: 18px;
    max-width: 75%;
    margin: 0 auto;
    margin-bottom: 26px;
    margin-top: 18px;
}
.otpPanel label{
    margin-bottom: 10px;
}
.otpPanel input{
    max-width: 85% !important;
    margin-left: 53px !important;
}
.otpPanel .generateOTP{
    float: left;
    border-radius: 100px;
    margin-top: 5px;
}
.confirmPass{
    max-width: 75%;
    margin: 0 auto;
    margin-left: 90px;
}
.confirmPass input{
    max-width: 100% !important;
}
.create-account h1{
    margin-top: 0;
}
.payment-page{
    background: #f6f7f8;
}
.payment-page .orderDetails{
    background: #fff;
    padding: 5px 20px 20px;
    max-width: 42%;
    margin: 0 auto;
    margin-bottom: 40px;
}
.payment-page .payAdv{
    background: #eee;
    padding: 8px 0;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
    font-weight: 600;
    font-family: Heebo;
}
.payment-page .payAdv p{
    font-size: 19px;
    margin-bottom: 0;
}
.payment-page .makePayment button{
    padding: 10px;
    font-size: 18px;
}
/*.payment-page
.payment-page
.payment-page
.payment-page
.payment-page
.payment-page
.payment-page
.payment-page
.payment-page
.payment-page
.payment-page
.payment-page
.payment-page
.payment-page
.payment-page
.payment-page*/
/*********payment-2.css*******/
.creditCard {
    background: #f6f7f8 !important;
}
.creditCard h1{
    text-align: center;
}
.creditCard .paymentCard-detail {
    background: #fff;
    padding: 5px 20px 20px;
    max-width: 42%;
    margin: 0 auto;
    margin-bottom: 40px;
}
.credit-card-box .panel-title {
    display: inline;
    font-weight: bold;
}
.credit-card-box .form-control.error {
    border-color: red;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(255,0,0,0.6);
}
.credit-card-box label.error {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box .payment-errors {
  font-weight: bold;
  color: red;
  padding: 2px 8px;
  margin-top: 2px;
}
.credit-card-box label {
    display: block;
}
/* The old "center div vertically" hack */
.credit-card-box .display-table {
    display: block;
}
.credit-card-box .display-tr {
    display: table-row;
}
.credit-card-box .display-td {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
}
/* Just looks nicer */
.credit-card-box .panel-heading img {
    min-width: 180px;
}